<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seentao.stpedu.common.sqlmap.CenterPhotoMapper">

	<resultMap type="com.seentao.stpedu.common.entity.CenterPhoto" id="centerPhoto" >
		<result property="photoId" column="photo_id"/>
		<result property="albumId" column="album_id"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="createTime" column="create_time"/>
		<result property="imageId" column="image_id"/>
		<result property="praiseNum" column="praise_num"/>
		<result property="isDelete" column="is_delete"/>
	</resultMap>
	
	<sql id="queryConditionCenterPhoto">
		<where>
			<if test="photoId != null"> and photo_id = #{photoId} </if>
			<if test="albumId != null"> and album_id = #{albumId} </if>
			<if test="createUserId != null"> and create_user_id = #{createUserId} </if>
			<if test="createTime != null"> and create_time = #{createTime} </if>
			<if test="imageId != null"> and image_id = #{imageId} </if>
			<if test="praiseNum != null"> and praise_num = #{praiseNum} </if>
			<if test="isDelete != null"> and is_delete = #{isDelete} </if>
		</where>
	</sql>
	
	<sql id="queryByKeyCenterPhoto">
		where photo_id = #{photoId}
	</sql>
	
	<insert id="insertCenterPhoto" parameterType="com.seentao.stpedu.common.entity.CenterPhoto">
		insert into center_photo(
		photo_id
		<if test="albumId != null"> ,album_id</if>
		<if test="createUserId != null"> ,create_user_id</if>
		<if test="createTime != null"> ,create_time</if>
		<if test="imageId != null"> ,image_id</if>
		<if test="praiseNum != null"> ,praise_num</if>
		<if test="isDelete != null">, is_delete </if>
		)
		values(
		nextval('center_photo_photo_id_seq')
		<if test="albumId != null"> ,#{albumId}</if>
		<if test="createUserId != null"> ,#{createUserId}</if>
		<if test="createTime != null"> ,#{createTime}</if>
		<if test="imageId != null"> ,#{imageId}</if>
		<if test="praiseNum != null"> ,#{praiseNum}</if>
		<if test="isDelete != null">, #{isDelete}</if>
		)
	</insert>
	
	<delete id="deleteCenterPhoto">
		delete from center_photo
		<include refid="queryConditionCenterPhoto"/>
	</delete>
	
	<update id="updateCenterPhotoByKey" parameterType="com.seentao.stpedu.common.entity.CenterPhoto">
		update center_photo 
		<set>
			<if test="photoId != null"> photo_id = #{photoId}, </if>
			<if test="albumId != null"> album_id = #{albumId}, </if>
			<if test="createUserId != null"> create_user_id = #{createUserId}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="imageId != null"> image_id = #{imageId}, </if>
			<if test="praiseNum != null"> praise_num = #{praiseNum}, </if>
			<if test="isDelete != null">is_delete = #{isDelete} </if>
		</set>
		<include refid="queryByKeyCenterPhoto"/>
	</update>
	
	<select id="selectSingleCenterPhoto" resultMap="centerPhoto">
		select 
		photo_id
		,album_id
		,create_user_id
		,create_time
		,image_id
		,praise_num
		,is_delete
		from center_photo 
		<include refid="queryConditionCenterPhoto"/>
	</select>
	
	<select id="selectAllCenterPhoto" resultMap="centerPhoto">
		select 
		photo_id
		,album_id
		,create_user_id
		,create_time
		,image_id
		,praise_num
		,is_delete
		from center_photo
	</select>
	
	<select id="selectCenterPhotoId" resultMap="centerPhoto">
	   SELECT image_id FROM center_photo where album_id = #{albumId} and is_delete = 0 ORDER BY photo_id DESC
	</select>
	
	
	<update id="delCenterPhotoAll" parameterType="ArrayList">
		 update center_photo 
           <trim prefix="set" suffixOverrides=",">
           
            	<trim prefix="is_delete = CASE photo_id " suffix="end,">
	                <foreach collection="list" item="i" index="index">
	                        <if test="i.isDelete != null">
	                         WHEN #{i.photoId}  THEN #{i.isDelete}
	                        </if>
	                </foreach>
             	</trim>
           </trim>
           
         WHERE photo_id in
         	<foreach collection="list" separator="," item="i" index="index" open="(" close=")" >
             	#{i.photoId}
         	</foreach>
	</update>
	
	<select id="queryCountalbumInfo" resultType="java.lang.Integer">
	 SELECT count(*) from center_photo where is_delete = 0 and album_id = #{albumId}
	</select>
	
	<select id="queryByCenteralbumInfo"  resultMap="centerPhoto">
	   SELECT photo_id,album_id,create_user_id,create_time,image_id,praise_num,is_delete FROM 
	    center_photo WHERE album_id =#{albumId} and is_delete = 0 ORDER BY album_id ASC limit #{limit} offset #{offset}
	</select>
	
	<select id="selectCenterPhotoInfo"  resultMap="centerPhoto">
	   SELECT photo_id,album_id,create_user_id,create_time,image_id,praise_num,is_delete FROM 
	    center_photo WHERE create_user_id = #{createUserId} and photo_id = #{photoId} and is_delete = 0 
	    ORDER BY album_id ASC 
	</select>
	
	
	<select id="queryCountalNewbum" resultType="java.lang.Integer">
	    SELECT count(*) from center_photo where is_delete = 0 and create_user_id = #{createUserId} and album_id = #{albumId}
	</select>
	
	<select id="queryByNewCenteralbum"  resultMap="centerPhoto" >
	    SELECT photo_id,album_id,create_user_id,create_time,image_id,praise_num,is_delete FROM 
	    center_photo WHERE create_user_id = #{createUserId} and album_id = #{albumId} and is_delete = 0 ORDER BY create_time DESC limit #{limit} offset #{offset}
	   
	</select>
	
	<select id="selectCenterPDesc"  resultMap="centerPhoto">
	   SELECT photo_id,album_id,create_user_id,create_time,image_id,praise_num,is_delete FROM 
	    center_photo where create_user_id = #{createUserId} and is_delete = 0 ORDER BY create_time DESC
	</select>
</mapper>
	