<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seentao.stpedu.common.sqlmap.ClubRelCourseAttachmentMapper">

	<resultMap type="com.seentao.stpedu.common.entity.ClubRelCourseAttachment" id="clubRelCourseAttachment" >
		<result property="relId" column="rel_id"/>
		<result property="courseId" column="course_id"/>
		<result property="attaId" column="atta_id"/>
	</resultMap>
	
	<sql id="queryConditionClubRelCourseAttachment">
		<where>
			<if test="relId != null"> and rel_id = #{relId} </if>
			<if test="courseId != null"> and course_id = #{courseId} </if>
			<if test="attaId != null"> and atta_id = #{attaId} </if>
		</where>
	</sql>
	
	<sql id="queryByKeyClubRelCourseAttachment">
		where rel_id = #{relId}
	</sql>
	
	<insert id="insertClubRelCourseAttachment" parameterType="com.seentao.stpedu.common.entity.ClubRelCourseAttachment">
		insert into club_rel_course_attachment(
		rel_id
		<if test="courseId != null"> ,course_id</if>
		<if test="attaId != null"> ,atta_id</if>
		)
		values(
		null
		<if test="courseId != null"> ,#{courseId}</if>
		<if test="attaId != null"> ,#{attaId}</if>
		)
	</insert>
	
	<delete id="deleteClubRelCourseAttachment">
		delete from club_rel_course_attachment
		<include refid="queryConditionClubRelCourseAttachment"/>
	</delete>
	
	<update id="updateClubRelCourseAttachmentByKey" parameterType="com.seentao.stpedu.common.entity.ClubRelCourseAttachment">
		update club_rel_course_attachment 
		<set>
			<if test="relId != null"> rel_id = #{relId}, </if>
			<if test="courseId != null"> course_id = #{courseId}, </if>
			<if test="attaId != null"> atta_id = #{attaId}, </if>
		</set>
		<include refid="queryByKeyClubRelCourseAttachment"/>
	</update>
	
	<select id="selectSingleClubRelCourseAttachment" resultMap="clubRelCourseAttachment">
		select 
		rel_id
		,course_id
		,atta_id
		from club_rel_course_attachment 
		<include refid="queryConditionClubRelCourseAttachment"/>
	</select>
	
	<select id="selectAllClubRelCourseAttachment" resultMap="clubRelCourseAttachment">
		select 
		rel_id
		,course_id
		,atta_id
		from club_rel_course_attachment
	</select>
	
	<insert id="batchInsertClubRelCourseAttachment" parameterType="ArrayList">
		insert into club_rel_course_attachment(
		rel_id
		,course_id
		,atta_id
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			nextval('club_rel_course_attachment_rel_id_seq')
			,#{item.courseId}
			,#{item.attaId}
			)
		</foreach>
	</insert>
</mapper>
	